In [1]:
import pandas as pd
from pandasai import SmartDataframe
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:
from pandasai.llm import OpenAI
llm = OpenAI()

In [451]:
# read in the csv file
df = pd.read_csv("all_perth_310121.csv")

In [452]:
df.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

In [453]:
df = SmartDataframe(df, config={"llm": llm})

In [454]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016\r,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [455]:
df.describe()

,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,3.365600e+04,33656.000000,33656.000000,31178.000000,33656.000000,33656.000000,30501.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,33656.000000,22704.000000
mean,6.370720e+05,3.659110,1.823063,2.199917,2740.644016,183.501545,1989.706436,19777.374465,4523.371494,6089.420074,-31.960664,115.879265,1.815268,72.672569
std,3.558256e+05,0.752038,0.587427,1.365225,16693.513215,72.102982,20.964330,11364.415413,4495.064024,62.167921,0.177780,0.118137,1.746000,40.639795
min,5.100000e+04,1.000000,1.000000,1.000000,61.000000,1.000000,1868.000000,681.000000,46.000000,6003.000000,-32.472979,115.582730,0.070912,1.000000
25%,4.100000e+05,3.000000,1.000000,2.000000,503.000000,130.000000,1978.000000,11200.000000,1800.000000,6050.000000,-32.068437,115.789763,0.880568,39.000000
50%,5.355000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17500.000000,3200.000000,6069.000000,-31.933231,115.854198,1.345520,68.000000
75%,7.600000e+05,4.000000,2.000000,2.000000,838.000000,222.250000,2005.000000,26600.000000,5300.000000,6150.000000,-31.843818,115.970722,2.097225,105.000000
max,2.440000e+06,10.000000,16.000000,99.000000,999999.000000,870.000000,2017.000000,59800.000000,35500.000000,6558.000000,-31.457450,116.343201,23.254372,139.000000

In [456]:
df.chat("Check for null values in each column")

ADDRESS                 0
SUBURB                  0
PRICE                   0
BEDROOMS                0
BATHROOMS               0
GARAGE               2478
LAND_AREA               0
FLOOR_AREA              0
BUILD_YEAR           3155
CBD_DIST                0
NEAREST_STN             0
NEAREST_STN_DIST        0
DATE_SOLD               0
POSTCODE                0
LATITUDE                0
LONGITUDE               0
NEAREST_SCH             0
NEAREST_SCH_DIST        0
NEAREST_SCH_RANK    10952
dtype: int64

'Null values checked for each column in the dataframes.'

In [457]:
df.chat("show me the unique values of Garage")

array([ 2.,  1.,  3.,  8.,  6.,  4., nan,  5.,  7.,  9., 10., 12., 32.,
       14., 16., 11., 13., 17., 18., 21., 20., 99., 26., 22., 50., 31.])

In [458]:
df.chat("show me the Nan rows of garage column")

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
58,1 Bristow Street,Haynes,177000,3,1,NaN,412,150,2015.0,26200,Armadale Station,2400,08-2013\r,6112,-32.159374,115.988082,DALE CHRISTIAN SCHOOL,1.003240,NaN
66,1 Cabarita Road,Kalamunda,605000,2,1,NaN,2578,180,1977.0,18200,Madding,9200,08-2020\r,6076,-31.987050,116.047690,ST BRIGID'S COLLEGE,1.142802,99.0
81,1 Caxton Lane,Ballajura,392500,4,2,NaN,532,185,NaN,12300,Bayswater Station,7800,01-2019\r,6066,-31.848738,115.904503,BALLAJURA COMMUNITY COLLEGE,1.136161,133.0
125,1 Dean Road,Bateman,599900,3,1,NaN,807,126,1968.0,10600,Bull Creek Station,888,11-2017\r,6150,-32.046400,115.844770,CORPUS CHRISTI COLLEGE,1.191641,28.0
135,1 Dolphin Way,Beldon,400000,3,1,NaN,683,86,1978.0,22300,Edgewater Station,2100,12-2016\r,6027,-31.771750,115.756300,BELRIDGE SECONDARY COLLEGE,0.667724,102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33558,99 Edmund Street,Fremantle,755000,3,2,NaN,612,112,1900.0,15300,Fremantle Station,1900,10-2018\r,6160,-32.062127,115.761187,FREMANTLE COLLEGE,0.907582,128.0
33566,99 Joseph Banks Boulevard,Banksia Grove,290000,2,2,NaN,220,109,2014.0,28700,Clarkson Station,5800,09-2017\r,6031,-31.700113,115.798718,JOSEPH BANKS SECONDARY COLLEGE,0.257212,92.0
33568,99 Keehner Entrance,Martin,279000,4,1,NaN,603,225,2015.0,19900,Seaforth Station,1200,08-2014\r,6110,-32.073115,116.013322,LUMEN CHRISTI COLLEGE,0.650258,122.0
33582,992 Great Northern Highway,Millendon,610000,4,2,NaN,2500,210,1985.0,22500,Midland Station,9800,01-2012\r,6056,-31.805850,116.020490,SWAN VALLEY ANGLICAN COMMUNITY SCHOOL,3.550914,53.0
33621,9A Meyrick Court,Currambine,375000,3,2,NaN,448,122,1992.0,25600,Currambine Station,1900,07-2020\r,6028,-31.741890,115.748020,LAKE JOONDALUP BAPTIST COLLEGE,1.359426,80.0

In [459]:
df.chat("show me unqiue values of date_sold")

    Unique Dates Sold
0           09-2018\r
1           02-2019\r
2           06-2015\r
3           07-2018\r
4           11-2016\r
..                ...
345         05-1991\r
346         12-1996\r
347         03-1992\r
348         03-1995\r
349         02-2000\r

[350 rows x 1 columns]

In [463]:
df = df.chat("remove the \r from the date_sold column")

In [464]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [465]:
df.chat("show me the unique values of date_sold")

    Unique Dates Sold
0             09-2018
1             02-2019
2             06-2015
3             07-2018
4             11-2016
..                ...
345           05-1991
346           12-1996
347           03-1992
348           03-1995
349           02-2000

[350 rows x 1 columns]

In [466]:
df.chat("check types of each column example floor area should be an int")

ADDRESS              object
SUBURB               object
PRICE                 int64
BEDROOMS              int64
BATHROOMS             int64
GARAGE              float64
LAND_AREA             int64
FLOOR_AREA            int64
BUILD_YEAR          float64
CBD_DIST              int64
NEAREST_STN          object
NEAREST_STN_DIST      int64
DATE_SOLD            object
POSTCODE              int64
LATITUDE            float64
LONGITUDE           float64
NEAREST_SCH          object
NEAREST_SCH_DIST    float64
NEAREST_SCH_RANK    float64
dtype: object

'Types of each column checked successfully.'

In [467]:
df = df.chat("drop longitude and latitude columns")

In [468]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017,6061,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017,6061,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016,6056,LA SALLE COLLEGE,1.055564,53.0

In [469]:
df.chat("show me the unique values of build year")

array([2003., 2013., 1979., 1953., 1998., 1991., 2014., 1983., 1999.,
       1977., 2008., 2002., 2004., 1985., 1994., 1959., 1981., 2000.,
       1972., 2007., 1920., 2006.,   nan, 2012., 1996., 1988., 1974.,
       1989., 1978., 2005., 2011., 1952., 1960., 2015., 2001., 1945.,
       1993., 2010., 1950., 1995., 2016., 1965., 1992., 1982., 1958.,
       1970., 1987., 1990., 1975., 1984., 1980., 1968., 1986., 1962.,
       2017., 1930., 1900., 2009., 1997., 1969., 1935., 1955., 1966.,
       1976., 1951., 1964., 1923., 1973., 1910., 1957., 1971., 1967.,
       1961., 1948., 1928., 1963., 1956., 1949., 1946., 1915., 1939.,
       1897., 1927., 1947., 1936., 1933., 1940., 1922., 1954., 1937.,
       1917., 1924., 1938., 1912., 1925., 1919., 1929., 1934., 1905.,
       1942., 1921., 1890., 1913., 1918., 1904., 1870., 1903., 1908.,
       1914., 1932., 1926., 1941., 1931., 1894., 1916., 1868., 1886.,
       1880., 1907., 1902., 1943., 1895., 1892., 1889., 1901.])

In [470]:
df = df.chat("remove rows that arent numbers from build year")

In [ ]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33648,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011.0,24900,Cockburn Central Station,5700,05-2016,6164,ATWELL COLLEGE,3.607062,129.0
33649,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014.0,17100,Midland Station,2500,04-2015,6056,LA SALLE COLLEGE,1.116806,53.0
33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997.0,16000,Fremantle Station,1900,02-2019,6162,FREMANTLE COLLEGE,1.134956,128.0
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN

In [471]:
df.chat("show me the unique values of build year")

array([2003., 2013., 1979., 1953., 1998., 1991., 2014., 1983., 1999.,
       1977., 2008., 2002., 2004., 1985., 1994., 1959., 1981., 2000.,
       1972., 2007., 1920., 2006., 2012., 1996., 1988., 1974., 1989.,
       1978., 2005., 2011., 1952., 1960., 2015., 2001., 1945., 1993.,
       2010., 1950., 1995., 2016., 1965., 1992., 1982., 1958., 1970.,
       1987., 1990., 1975., 1984., 1980., 1968., 1986., 1962., 2017.,
       1930., 1900., 2009., 1997., 1969., 1935., 1955., 1966., 1976.,
       1951., 1964., 1923., 1973., 1910., 1957., 1971., 1967., 1961.,
       1948., 1928., 1963., 1956., 1949., 1946., 1915., 1939., 1897.,
       1927., 1947., 1936., 1933., 1940., 1922., 1954., 1937., 1917.,
       1924., 1938., 1912., 1925., 1919., 1929., 1934., 1905., 1942.,
       1921., 1890., 1913., 1918., 1904., 1870., 1903., 1908., 1914.,
       1932., 1926., 1941., 1931., 1894., 1916., 1868., 1886., 1880.,
       1907., 1902., 1943., 1895., 1892., 1889., 1901.])

In [472]:
df = df.chat("convert build year to int")

In [473]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33648,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011,24900,Cockburn Central Station,5700,05-2016,6164,ATWELL COLLEGE,3.607062,129.0
33649,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014,17100,Midland Station,2500,04-2015,6056,LA SALLE COLLEGE,1.116806,53.0
33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997,16000,Fremantle Station,1900,02-2019,6162,FREMANTLE COLLEGE,1.134956,128.0
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN

In [474]:
# Check for null values in each column
df.chat("Check for null values in each column")

ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              2245
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR             0
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    9809
dtype: int64

'Null values checked for each column in the dataframes.'

In [475]:
df.chat("Check type for garage")

dtype('float64')

In [476]:
df.chat("show me the count for each unique value for garage order by ascending")

    GARAGE  COUNT
0      1.0   4834
1      2.0  18747
2      3.0   1858
3      4.0   1767
4      5.0    327
5      6.0    418
6      7.0     86
7      8.0    115
8      9.0     16
9     10.0     24
10    11.0      5
11    12.0     24
12    13.0      7
13    14.0     11
14    16.0      4
15    17.0      1
16    18.0      3
17    20.0      2
18    21.0      1
19    22.0      1
20    26.0      1
21    31.0      1
22    32.0      1
23    50.0      1
24    99.0      1

In [477]:
df.chat("Check unique values for garage")

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 16.0,
 17.0,
 18.0,
 20.0,
 21.0,
 22.0,
 26.0,
 31.0,
 32.0,
 50.0,
 nan,
 99.0]

In [486]:
# remove nan rows from garage
df = df.chat("remove the nan rows of garage column")

In [487]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33648,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011,24900,Cockburn Central Station,5700,05-2016,6164,ATWELL COLLEGE,3.607062,129.0
33649,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014,17100,Midland Station,2500,04-2015,6056,LA SALLE COLLEGE,1.116806,53.0
33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997,16000,Fremantle Station,1900,02-2019,6162,FREMANTLE COLLEGE,1.134956,128.0
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN

In [488]:
df.chat("Check unique values for garage")

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 16.0,
 17.0,
 18.0,
 20.0,
 21.0,
 22.0,
 26.0,
 31.0,
 32.0,
 50.0,
 99.0]

In [497]:
df

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33648,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011,24900,Cockburn Central Station,5700,05-2016,6164,ATWELL COLLEGE,3.607062,129.0
33649,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014,17100,Midland Station,2500,04-2015,6056,LA SALLE COLLEGE,1.116806,53.0
33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997,16000,Fremantle Station,1900,02-2019,6162,FREMANTLE COLLEGE,1.134956,128.0
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN

In [4]:
# save the dataframe to a csv file
df.to_csv("data/cleaned_v1.0.csv")

NameError: name 'df' is not defined

In [5]:
# read in the csv file
df = pd.read_csv("data/cleaned_v1.0.csv")

In [7]:
# convert to smart dataframe
df = SmartDataframe(df, config={"llm": llm})

ValueError: Invalid input data. Must be a Pandas, Modin or Polars dataframe.

In [8]:
df

,Unnamed: 0,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324,129.0
2,2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28251,33648,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011,24900,Cockburn Central Station,5700,05-2016,6164,ATWELL COLLEGE,3.607062,129.0
28252,33649,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014,17100,Midland Station,2500,04-2015,6056,LA SALLE COLLEGE,1.116806,53.0
28253,33650,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997,16000,Fremantle Station,1900,02-2019,6162,FREMANTLE COLLEGE,1.134956,128.0
28254,33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
28255,33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN

In [9]:
df = df.chat("drop last column")

In [10]:
df.chat("drop the unnamed column")

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,NEAREST_SCH,NEAREST_SCH_DIST
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003,18300,Cockburn Central Station,1800,09-2018,6164,LAKELAND SENIOR HIGH SCHOOL,0.828339
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013,26900,Kwinana Station,4900,02-2019,6167,ATWELL COLLEGE,5.524324
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979,22600,Challis Station,1900,06-2015,6111,KELMSCOTT SENIOR HIGH SCHOOL,1.649178
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953,17900,Midland Station,3600,07-2018,6056,SWAN VIEW SENIOR HIGH SCHOOL,1.571401
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998,11200,Bassendean Station,2000,11-2016,6054,KIARA COLLEGE,1.514922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28251,9B Teocote Crescent,Aubin Grove,423000,3,2,2.0,248,108,2011,24900,Cockburn Central Station,5700,05-2016,6164,ATWELL COLLEGE,3.607062
28252,9B Viveash Road,Middle Swan,467000,4,2,2.0,400,132,2014,17100,Midland Station,2500,04-2015,6056,LA SALLE COLLEGE,1.116806
28253,9b Wesley Street,South Fremantle,955000,3,2,1.0,200,127,1997,16000,Fremantle Station,1900,02-2019,6162,FREMANTLE COLLEGE,1.134956
28254,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013,16100,Fremantle Station,1500,03-2016,6162,CHRISTIAN BROTHERS' COLLEGE,1.430350
28255,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974,12600,Warwick Station,4400,10-2016,6064,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494

In [11]:
df = df.chat("drop the unnamed column")

In [12]:
df.chat("check the data type of each column")

ADDRESS              object
SUBURB               object
PRICE                 int64
BEDROOMS              int64
BATHROOMS             int64
GARAGE              float64
LAND_AREA             int64
FLOOR_AREA            int64
BUILD_YEAR            int64
CBD_DIST              int64
NEAREST_STN          object
NEAREST_STN_DIST      int64
DATE_SOLD            object
POSTCODE              int64
NEAREST_SCH          object
NEAREST_SCH_DIST    float64
dtype: object

'Data types of each column checked.'

In [13]:
df.chat("Check None values in Garage")

Number of None values in Garage column: 0

'Number of None values in Garage column printed.'

In [14]:
df.chat("show garage values count")

    GARAGE  COUNT
0      2.0  18747
1      1.0   4834
2      3.0   1858
3      4.0   1767
4      6.0    418
5      5.0    327
6      8.0    115
7      7.0     86
8     10.0     24
9     12.0     24
10     9.0     16
11    14.0     11
12    13.0      7
13    11.0      5
14    16.0      4
15    18.0      3
16    20.0      2
17    32.0      1
18    17.0      1
19    21.0      1
20    99.0      1
21    26.0      1
22    22.0      1
23    50.0      1
24    31.0      1

In [15]:
df.chat("How many values are 10 and above in garage")

88

In [16]:
df = df.chat("convert garage to int")

In [17]:
df = df.chat("exclude rows where GARAGE is above 10")

In [18]:
df.chat("unique values of garage")

array([ 2,  1,  3,  8,  6,  4,  5,  7,  9, 10])

In [19]:
df = df.rename(columns=str.title)

In [20]:
df = SmartDataframe(df, config={"llm": llm})

In [21]:
# show none values count in each column
df.chat("Check None values in each column")

Address             0
Suburb              0
Price               0
Bedrooms            0
Bathrooms           0
Garage              0
Land_Area           0
Floor_Area          0
Build_Year          0
Cbd_Dist            0
Nearest_Stn         0
Nearest_Stn_Dist    0
Date_Sold           0
Postcode            0
Nearest_Sch         0
Nearest_Sch_Dist    0
dtype: int64

'Printed None values in each column for all dataframes.'

In [28]:
df

,Address,Suburb,Price,Bedrooms,Bathrooms,Garage,Land_Area,Floor_Area,Build_Year,Cbd_Dist,Nearest_Stn,Nearest_Stn_Dist,Date_Sold,Postcode,Nearest_Sch,Nearest_Sch_Dist
0,1 Acorn Place,South Lake,565000,4,2,2,600,160,2003,18.3,Cockburn Central Station,1.8,09-2018,6164,Lakeland Senior High School,0.8
1,1 Addis Way,Wandi,365000,3,2,2,351,139,2013,26.9,Kwinana Station,4.9,02-2019,6167,Atwell College,5.5
2,1 Ainsley Court,Camillo,287000,3,1,1,719,86,1979,22.6,Challis Station,1.9,06-2015,6111,Kelmscott Senior High School,1.6
3,1 Albert Street,Bellevue,255000,2,1,2,651,59,1953,17.9,Midland Station,3.6,07-2018,6056,Swan View Senior High School,1.6
4,1 Aman Place,Lockridge,325000,4,1,2,466,131,1998,11.2,Bassendean Station,2.0,11-2016,6054,Kiara College,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28251,9B Teocote Crescent,Aubin Grove,423000,3,2,2,248,108,2011,24.9,Cockburn Central Station,5.7,05-2016,6164,Atwell College,3.6
28252,9B Viveash Road,Middle Swan,467000,4,2,2,400,132,2014,17.1,Midland Station,2.5,04-2015,6056,La Salle College,1.1
28253,9b Wesley Street,South Fremantle,955000,3,2,1,200,127,1997,16.0,Fremantle Station,1.9,02-2019,6162,Fremantle College,1.1
28254,9C Gold Street,South Fremantle,1040000,4,3,2,292,245,2013,16.1,Fremantle Station,1.5,03-2016,6162,Christian Brothers' College,1.4
28255,9D Shalford Way,Girrawheen,295000,3,1,2,457,85,1974,12.6,Warwick Station,4.4,10-2016,6064,Girrawheen Senior High School,0.4

In [23]:
df = df. chat("Change the Near School column values to title case")

In [24]:
df = df.chat("divide cbd_dist, nearest_stn_dist by 1000")

In [27]:
df = df.chat("round nearest_sch_dist values to 1 decimal place")

In [40]:
df.chat("Select one row for each unique value in the 'garage' column, specifically for the values 7, 8, 9, and 10.")

,Address,Suburb,Price,Bedrooms,Bathrooms,Garage,Land_Area,Floor_Area,Build_Year,Cbd_Dist,Nearest_Stn,Nearest_Stn_Dist,Date_Sold,Postcode,Nearest_Sch,Nearest_Sch_Dist
9,1 Arundel Street,Bayswater,685000,3,2,8,552,126,1999,5.9,Bayswater Station,0.5,10-2019,6053,Chisholm Catholic College,0.9
216,1 Horsemans View,Roleystone,670000,5,2,7,2783,284,2011,29.8,Sherwood Station,7.2,01-2019,6111,Southern Hills Christian College,6.1
1079,10 Old Toodyay Road,Gidgegannup,425000,4,2,9,4051,200,1985,37.8,Midland Station,22.8,07-2015,6083,Eastern Hills Senior High School,9.3
1270,10 Wilkie Street,South Guildford,600000,3,1,10,907,100,1950,11.3,Guildford Station,1.0,10-2016,6055,Guildford Grammar School,2.2

In [39]:
df = df.chat("round 1 decimal place'nearest_stn_dist' column values")

In [41]:
# save the dataframe to a csv file
df.to_csv("data/cleaned_v1.1.csv")